@charset "utf-8";

main, footer { padding: 0 10% 0 10%; }
ol, li {list-style: none;}


.navbar {
   display: flex;
   justify-content: space-between;
   padding: 20px 0 0 0;
   background: transparent;
}

.navbar p {
   font-family: 'Montserrat', sans-serif;
   font-size:1.6rem;
   font-weight: bold;
   padding-right: 4rem;
}

.icon-emo-laugh {
   padding-left: 4rem;
   font-size: 1.6rem;
   line-height: 4.8rem;
   color: #2361ec;
   transition: 0.3s;
}

.webimg {
   width: 100%; height: auto;
   margin-top: 1.5rem;
}

.section {
   margin: 7rem 0 0 0;
   padding-bottom: 7rem;
   border-bottom: 1px solid #999;
   /* text-align: center; */
}

.workflow {
   margin: 7rem 0 0 0;
   padding-bottom: 7rem;
}

img {
   width: 100%;
   object-fit: cover;
 }

h2 {
   color: #2361ec;
   font-family: 'Montserrat',sans-serif;
   font-size: 3rem;
   font-weight: 800;
   text-transform: capitalize;
   padding-top: 3rem;
   /* margin-top: 3rem; */
}

.ftext {
   padding: 0 10% 0 10%;
}

.ftul {
   padding-top: 10px;
}

.fh3 {
   padding-top: 20px;
}

h3 {
   font-size: 1.3rem;
}
li {
   font-size: 0.9rem;
   font-family: 's-core_dream4';
   margin-top: 9px;
}

footer {
   background-color: #000;
   color: #eeeeee;
   font-family: 's-core_dream5';
   /* height: 40rem; */
}

.button {
   margin: 0 auto;
   padding: 70px 0 70px 0;
   text-align: center;
}

a.view, a.viewp {
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   text-align: center;
   text-decoration: none;
   font-weight: 700; 
   font-size: 14px; 
   letter-spacing: 2px; 
   display: inline-block;

   margin-top: 40px; 
   padding: 15px;
   margin-left: 30px;
   border: 1px dashed #fff; 
   color: #fff; background: #2361ec;
   cursor: pointer;
   transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

a.view:hover, a.viewp:hover {
  background-color: transparent;
  text-shadow: none;
}

::selection{ 
   color: transparent; 
   text-shadow: 0 0 2px #2361ec; 
   transition: all 250ms ease-in; 
 } 
 ::-moz-selection{ 
   color: transparent; 
   text-shadow: 0 0 2px #2361ec; 
   transition: all 250ms ease-in; 
 }